.info_view
    .row
        .col.china_seoul_view
            h1="Seoul-China Graph"
            br 
            canvas(id='china_seoul_graph', width='700', height='400')
        .col.content
            br
            h3="내용"