.info_view
    .row
        .col.china_seoul_view
            div.name
                h1="Seoul-China Graph"
            div.buttons
                button.btn.btn-outline-dark.year18Button(type='button') 2018
                button.btn.btn-outline-dark.year19Button(type='button') 2019
                button.btn.btn-outline-dark.year20Button(type='button') 2020
            div.graph
                div.year18
                    canvas(id='2018_china_seoul_graph', width='700', height='500')
                div.year19
                    canvas(id='2019_china_seoul_graph', width='700', height='500')
                div.year20
                    canvas(id='2020_china_seoul_graph', width='700', height='500')
            div.animated-title
                p 제목
            div.animated-text
                div.line This is your last chance.
                div.line You take the blue pill.
                div.line You take the red pill.
        .col
            div#map2(height='500px')
            