.info_view
    .row
        .col.china_seoul_view
            div.name
                h1="Seoul-China Graph"
            div.buttons
                button.btn.btn-outline-dark.year18Button(type='button') 2018
                button.btn.btn-outline-dark.year19Button(type='button') 2019
                button.btn.btn-outline-dark.year20Button(type='button') 2020
            div.graph
                div.year18
                    canvas(id='2018_china_seoul_graph', width='700', height='500')
                div.year19
                    canvas(id='2019_china_seoul_graph', width='700', height='500')
                div.year20
                    canvas(id='2020_china_seoul_graph', width='700', height='500')
            div.animated-title
                p 제목
            div.animated-text
                div.line
                    a(href='https://www.yna.co.kr/view/AKR20200515167300097') 코로나19 여파로 공기 좋아진 중국…"초미세먼지 15% 감소"
                div.line
                    a(href='https://news.joins.com/article/23785773') '코로나 봉쇄' 풀린 중국, 미세먼지도 되돌아왔다
                div.line
                    a(href='http://www.hani.co.kr/arti/society/environment/944580.html') “코로나 영향 받은 2~3월, 1월보다 미세먼지 개선 효과 커”
                div.line
                    a(href='https://www.edaily.co.kr/news/read?newsId=01338246625768264&mediaCodeNo=257&gtrack=sok') 중국發 황사로 수도권 미세먼지 '나쁨'…경상도 낮에 더워
        .col
            div#map2(height='500px')
            