doctype html
html
  head
    title= title
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/search.css')
    link(rel='stylesheet', href='/stylesheets/aqi_info.css')
    link(rel='stylesheet', href='/stylesheets/graph.css')
    link(rel='stylesheet', href='/stylesheets/china_seoul.css')
    link(rel='stylesheet', href='path/to/chartjs/dist/Chart.min.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet")
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCWq4-CM_z0JAZZnOII2aDcGSVxom6LfW4&callback=initialize')
    //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAYL-xzd2UDPUfSQTsJy-6o7ZIV6Jupv-w&callback=initialize') //혜진
    //- 지우
    //- script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC_TVjUrK7i4IzI4f00uVHn_-WwMVi3xjU&callback=initMap')
    script(src='javascripts/search.js')
    script(src='javascripts/aqi_info.js')
    script(src="javascripts/graph.js")
    script(src="/Path/To/Chart.bundle.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    script(src="https://maps.googleapis.com/maps/api/js")
  body
    block content
