extends ../layout

block content
    .info_view
        div#map_container
        
        div#info_container
            br
            br
            h2.date=data
            h2.finedust Real-time fine dust concentration

            div#info
            h3.con= sidoName + stationName
            h3.con= pm10_2 + " ㎍/㎥"
            h3.con= pm10Grade1h
            h3.state very good

            
            div#img
             img.relative(src='img/good2.png' width="130")


