extends ../layout

block content
    .info_view
        div#map_container
        
        div#info_container
            br
            br
            h2.date=data
            h2.finedust Real-time fine dust concentration

            div#info
            br
            h3.con= pm10 + " ㎍/㎥"
            h3.state very good
            
            div#img
             img.relative(src='img/good2.png' width="130")
