.search_view
    h1.title="BELL"
    h6.subtitle="- Searvice for Checking Realtime Finedust -"

    .input-group.search_bar
        input.form-control(type='text' placeholder="City" aria-label="City" aria-describedby='basic-addon2')
        .input-group-append
            button.btn.btn-outline-dark(type='button') SEARCH


.float graph
.fa.fa-plus.my-float