.search_view
    h1.title="BELL"
    h3.subtitle="- Service for Checking Realtime Finedust in Seoul -"
    br
    br

    form(action='../search' method='POST')
        .input-group.search_bar
            input.form-control.search_bar(type='text' name='mycity' placeholder='강남구')
        br
        .input-group-append
            button.btn.btn-dark.searchButton(type='submit') SEARCH
            
div#drop.float
    .dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown')
            | OPEN
            span.caret
        ul.dropdown-menu
            li
                a#btnList1 Real Time Finedust
            li
                a#btnList2 Analysis Graph

div#top.float
    a(href='#') TOP


// sssssss