.search_view
    h1.title="BELL"
    h6.subtitle="- Searvice for Checking Realtime Finedust -"

    .input-group.search_bar
        input.form-control(type='text' placeholder="City" aria-label="City" aria-describedby='basic-addon2')
        .input-group-append
            button.btn.btn-outline-dark(type='button') SEARCH

//.float OPEN

div#drop.float
    .dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown')
            | OPEN
            span.caret
        ul.dropdown-menu
            li
                a#status Status Graph
            li
                a#seo_chi Seoul China Graph

div#top.float
    a(href='#') TOP
