.search_view
    h1.title="BELL"
    h3.subtitle="- Service for Checking Realtime Finedust -"
    br
    br

    .input-group.search_bar
        input#city.form-control(type='textbox', value='Sydney, NSW')
    br
    .input-group-append
        button#submit.btn.btn-dark.searchButton(type='button', value='Geocode') SEARCH

div#drop.float
    .dropdown
        a.dropdown-toggle(href='#' data-toggle='dropdown')
            | OPEN
            span.caret
        ul.dropdown-menu
            li
                a#status Status Graph
            li
                a#seo_chi Seoul China Graph

div#top.float
    a(href='#') TOP
