.china_seoul_view {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 20px;
    font-weight: bolder;
}
.content {
    padding-top: 20px;
}
h1{
    padding-left: 50px;
    padding-top: 10px;
}

canvas{
    padding-left: 50px;
}
h3{
    font-family: 'Nanum Gothic Coding', monospace;
}