.ststus_graph_view {
    height: 98vh;
    height: 100%;
    width: 100%;
}
.graph_view {
    font-family: 'Nunito Sans', sans-serif;
    /* padding-top: 20px; */
    font-weight: bolder;
    
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
#status_title {
    margin-top: 30px;
}
.status_content {
    padding-top: 20px;
}
/* #info_container {
    font-family: 'Caveat', cursive;
    background-color: #ffffff;
    float: left;
    padding: 10px 10px 10px 10px;
} */

h1{
    padding-left: 50px;
    padding-top: 10px;
    font-family: 'Caveat', cursive;
}

#status_graph{
    padding-left: 50px;
    width: 98%;
    height: 100vh;
}

.table{
    padding-top: 200px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.p{
    text-align: right;
    font-family: 'Nanum Gothic Coding', monospace;
}

h3{
    font-family: 'Nanum Gothic Coding', monospace;
}
