@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.search_view {
    height: 750px;
    width: 100%;
    padding: 50px;
    background-image: url("/img/background_image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.9!important;
}

h1.title {
    padding: 150px 0px 0px 150px;
    font-size: 50px;
    font-family: 'Caveat', cursive;
}

h6.subtitle {
    padding: 0px 0px 10px 150px;
    font-size: large;
    font-family: 'Caveat', cursive;
    /* font-family :  */
}

.input-group.search_bar {
    width: 600px;
    padding: 0px 0px 0px 150px;
}

*{padding:0;margin:0;}

.float{
    font-family: 'Caveat', cursive;
    font-size: 30px;
	position:fixed;
	width:110px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(86, 112, 133);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}